.header {
    padding: 1rem 0;
    background-image: url("../../../../imgs/diary-968592_1920.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 0;
}

.titulo {
    background-color: #000000a4;
    height: 100%;
    margin: 0;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}
